body {
  padding-top: 56px;
/*   font-size: 14px; */
}

.bg-light {
	background-color: #edeef0 !important;
}

.bg-primary {
	background-color: #4a76a8 !important;
}

.btn {
	margin-left: 6px;
	height: 40px;
}

.btn-primary {
	background-color: #4a76a8 !important;
	border: none;
}

.btn-default {
	background-color: #eff3f6;
	background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
	border: 1px solid rgba(27,31,35,.2);
}

.dropdown-item {
	font-size: 14px;
}

.card-header, 
.card-footer {
	background-color: #f6f8fa; 
} 